<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Iseberg</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"></link>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Iseberg</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link disabled" href="#">Essen</a>
					<a class="nav-item nav-link disabled" href="/reservation">Reservieren</a>
					<a class="nav-item nav-link active" href="/survey">Umfrage<span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link disabled" href="#">Über uns</a>
				</div>
			</div>
		</nav>
		<div class="p-3">
			<h4 th:text='${attendee.prename}'></h4>
			<b>	Danke für Ihre Teilnahme!</b>
			<p><img class="img-fluid" width="300" src="/static/images/thankyou.png" alt="Restaurant Iseberg" /></p>
			<footer>
		    	<p><small>© 2019 / Author: P.Rutschmann</small></p>
			</footer>	
		</div>
	</body>
</html>