<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant Stierlin Events</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">Restaurant Stierlin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/addreservation">Reservieren</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/ueberuns">Über uns</a>
            </li>
        </ul>
    </div>
</nav>

<div class="p-3">

    <p class="text-center display-3">Events</p>

    <br>

    <blockquote class="blockquote text-center">
        <h3 class="mb-0">Wir sind zurzeit geschlossen wegen den CoronaVirus (COVID-19).<br>
            Bitte schauen Sie am 11.Mai wieder vorbei! 😊</h3>
        <footer class="blockquote-footer">Ihr Restaurant Stierlin Team</footer>
    </blockquote>

    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://ethz.ch/services/en/organisation/departments/it-services/people/person-detail.MjQ3NTEx.TGlzdC8yMTE0LC04NTM1NzczMTQ=.html">Matthias
                Stierlin</a>
        </div>
    </footer>

    <script src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
</div>
</body>
</html>