<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crowdfunding</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div style="margin: 10px;">
    <form action="#" th:action="@{/add-betrag}" th:object="${newBetrag}" method="post">
        <b>Nickname:</b>
        <input type="text" class="form-control" id="nicknameId" th:field="*{nickname}" />
        <b>Betrag:</b>
        <input type="number" class="form-control" id="betragId" th:field="*{betrag}" />
        <br/>
        <input type="submit" class="btn btn-success" value="Hinzufügen" />
        <br/>
    </form>

    <div>
        <h4>Betrag</h4>
        <div th:switch="${listVonBetragen}">
            <table class="table table-striped" th:case="*">
                <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Betrag</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="spende : ${listVonBetragen}">
                    <td th:text="${spende.nickname}"></td>
                    <td th:text="${spende.betrag}"></td>
                </tr>
                <tr>
                    <td>Summe</td>
                    <td th:text="${sum}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>